<!DOCTYPE html>
<html layout:decorator="layout">
	<head>
		<title>Index</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../resources/css/style.css" rel="stylesheet" th:href="@{/resources/css/style.css}" />
	</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron text-center">
			<h1 th:text="#{sandbox.title}">Sandbox</h1>
			<p th:text="#{sandbox.description}">Sandbox description</p>
		</div>
		
		<div id="login" class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>