<!DOCTYPE html>
<html>
<head>
	<link href="../resources/css/style.css" rel="stylesheet" th:href="@{/resources/css/style.css}" />
	<link href="../resources/css/bootstrap-material-design.css" rel="stylesheet" th:href="@{/resources/css/bootstrap-material-design.css}" />
	<script src="../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
	<script src="../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<h1>Static content for prototyping purpose</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</p>
	</div>
</body>
</html>