// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

$brand-primary: #b54500;

// Import bootstrap and fontawesome
@import "font-awesome";
@import "bootstrap-material-design";
@import "variables";

// Bootstrap Starter Template Styles
body {
	padding-top: 0;
}

.btn-fab-google:not(.btn-link):not(.btn-flat) {
	background-color: $fab-google-bgcolor;
	color: #ffffff;
	padding: 12px;
}
.btn-fab-twitter:not(.btn-link):not(.btn-flat) {
	background-color: $fab-twitter-bgcolor;
	color: #ffffff;
	padding: 12px;
}

.remember-me {
	margin-top: 30px;
	margin-bottom: 20px;
}

h5 {
	margin: 0;
}
